@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500&family=Staatliches&display=swap');

/* ESTILOS GERAIS  */
body {
  font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
}

p{
 /* font-family: Arial, Helvetica, sans-serif; */
 font-size: 14px;
 line-height: 20px;
}

.btn {
 border: 3px solid #fec63e;
 padding: 10px 30px;
 color: #fec63e;
 font-size: 15px;
 line-height: 20px;
 text-transform: uppercase;
 letter-spacing: .1em;
 font-weight: bold;  
 transition: transform 0.2s;
 display: inline-block;
}

.btn:hover {
  color: #fff;
  border-color: #ffffff;
  transform: scale(1.3);
}

.btn.btn-black:hover {
  color: #000;
  border-color: #000;
}

.scale {
  transition: 0.6s ease;
  -webkit-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.75);
box-shadow: 9px 10px 5px -4px rgba(0,0,0,0.75);
}

.scale:hover{
  transform: scale(1.2);
}

.subtitulo {
  font-size: 24px;
 line-height: 30px;
  font-weight: 800;
  letter-spacing: .1em;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

.subtitulo::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px auto;
}

/* HEADER */
.header {
position: fixed;
top: 0;
width: 100%;
background: #fec63e;
padding: 15px 0px;
z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
display: inline-block;
margin-left: 25px;
margin-top: 20px;
}

.header_menu ul li a {
color: black;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .1em;
font-size: 14px;
padding: 10px 0;
}

.header_menu ul li a:hover {
color: #fff;
}

/* HERO */
.introducao {
  width: 100%;
  height: 400px;
  background:url(../img/bg.jpg) no-repeat center;
  filter: grayscale(10%);
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 57px;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}

.introducao h1 {
 font-size: 80px;
 color: white;
 font-weight: bold;
 text-transform: uppercase; 
 letter-spacing: 10px;
}

.quote-externo {
 max-width: 320px;
 margin: 0 auto;
 margin-bottom: 40px;
 color: white;
}

.quote-externo p {
 font-style: italic;
 font-size: 16px;
}

.quote-externo p::before, .quote-externo p::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 12px auto;
}

.quote-externo cite {
font-style: normal;
font-weight: bold;
font-size: 16px;
letter-spacing: .1em;
}

/* PRODUTOS */

.produtos {
  padding: 60px 0;
}

.produtos_lista {
   column-gap: 60px; 

}


.produtos_lista li{
  background: #fec63e;
  text-align: center;
  -webkit-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.4);
  transition: 0.8s ease;
}

.produtos_lista li:hover {
  transform: scale(1.1);
}


/* ANIMATIONS */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.fade-left {
  -webkit-animation: fade-in-left 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000);
	        animation: fade-in-left 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.fade-in-right {
	-webkit-animation: fade-in-right 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000);
	        animation: fade-in-right 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.rotate-in-2-bck-cw {
	-webkit-animation: rotate-in-2-bck-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-bck-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-2-bck-cw {
  0% {
    -webkit-transform: translateZ(200px) rotate(-45deg);
            transform: translateZ(200px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}

.rotate-in-2-tr-ccw{
  -webkit-animation: rotate-in-2-tr-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: rotate-in-2-tr-ccw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-in-2-tr-ccw {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

/* END ANIMATIONS */

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.produtos_lista li h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px auto;
}

.produtos_lista li p {
 padding: 10px 25px 25px 25px;
}

.produtos_icone {
  background: #000;
  padding: 20px;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 25px;
}


/* PORTFOLIO */
.portfolio {
  width: 100%;
  background: black;
  padding: 40px 0;
}

.portfolio .subtitulo{
  color: #fec63e;
}

.portfolio .subtitulo::after{
  background: #fec63e;
}

.portfolio-lista li:last-child{
  margin-top: 20px;
}

.portfolio-lista li {
  transition: 0.6s ease;
}

.portfolio-lista li:hover{
  transform: scale(1.1);
}

.portfolio .call p {
  color: white;
}


/* QUALIDADE */

.qualidade {
  padding: 60px 0;
}

.qualidade::after {
  content: '';
  width: 634px;
  height: 83px;
  display: block;
  background: url(../img/linhas.svg) no-repeat center;
  position: absolute;
  top: 199px;
  right: 162px;
  z-index: 01;
}

.qualidade img {
 margin: 0 auto;
}

.qualidade_lista {
  padding-top: 20px;
}

.qualidade_lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.qualidade_lista li h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: black;
  margin: 8px auto;
}

/* QUEBRA */

.quebra {
  width: 100%;
  height: 220px;
  background: url(../img/bg-footer.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* FOOTER */
.footer {
  width: 100%;
  background: black;
  color: white;
  padding: 20px;
}

.footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li{
font-size: 15px;
line-height: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.footer-redes ul li a:hover {
  border-radius: 50%;
}

.copy {
  width: 100%;
  background: #fec63e;
  padding: 20px 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fec63e;
}












